<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Offer Store - Registro</title>

        <link rel="icon" href="../../assets/Icons/FavIconLogo-OfferStore.png" type="image/png">
        <link rel="stylesheet" href="RegistroCuenta.css">
    </head>
    <body>

        <main id="Cart">

            <div class="header-left">
                <a href="../Login/Login.html">
                    <img src="../../assets/Icons/Logo-OfferStore(1).png" alt="Logo-OfferStore" class="Logo-OfferStore"/>
                </a>
            </div>

            <div id="Registro">

                <img src="../../assets/Icons/usuario.png" alt="Usuario">

                <h1 id="titulo-registro">Crear Cuenta</h1>

                <div id="social-login-options">
                    
                    <div id="Facebook">
                        <button id="btnFacebook">
                            <img src="../../assets/Icons/facebook.png" alt="Facebook Icon" class="icon-social">
                            Continuar con Facebook
                        </button>
                    </div>

                    <div id="Google">
                        <button id="btnGoogle">
                            <img src="../../assets/Icons/googleIcono.png" alt="Google Icon" class="icon-social">
                            Continuar con Google
                        </button>
                    </div>

                    <div>
                        <label id="OptionsLogin">Or</label>
                    </div>
                </div>

                <fieldset>
                    <legend>Correo electrónico</legend>

                    <div>
                        <input type="email" id="email" name="email" placeholder="Correo@direccion.com" required>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Contraseña</legend>

                    <div>
                        <input type="password" id="password" name="password" minlength="8" placeholder="Mínimo 8 carácteres" required>
                        <small id="ayuda-pass">Usa al menos 8 carácteres.</small>
                    </div>
                </fieldset>

                <div id="CrearCuentaContainer">
                    <button id="btnCrearCuenta">Crear Cuenta</button>
                </div>

            </div>
        </main>

    </body>
</html>