<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offer Store</title>
    <link rel="stylesheet" href="RegistroCuenta.css">
</head>
<body>
    <main id="Cart">
        <h1 id="Registro">
            <img src="logo.png" alt="Logo" class="logo">Registro de Cuenta
        </h1>

        <div id="Registro">

            <div id="btnFacebook">
                <button id="TextFace"> <img src="FacebookLogo (1).png" alt="" id="IconoFacebook"> continuar con Facebook</button>
            </div>

            <div id="btnGoogle">
                <button id="TextGoogle"><img src="logoGoogle (1).png" alt="" id="IconoGoogle">continuar con Google</button>
            </div>

            <div id="OptionsRegistro">
                <label >Or</label> 
            </div>

            <fieldset id="Correo">
                <legend>Correo Electronico</legend>

                <div>
                    <input type="email" id="email" name="email" placeholder="example@ejemplo.com" required> 
                </div>

            </fieldset>

            <fieldset id="Contra">
                <legend>Contraseña</legend>

                <div>
                    <input type="password" id="password" name="password" minlength="8" placeholder="Mínimo 8 caracteres" required>
                    <small id="ayuda-pass"></small>
                </div>

            </fieldset>

            <div id="botonCrearCuenta">
                <button id="CrearCuenta">Crear Cuenta</button>
            </div>
        </div>
    </main>
</body>
</html>