html{
    background-color: #F2F2F2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#Cart{
    margin: 0;
    padding: 20px;
    text-align: center;
}

#Registro{
    max-width: 700px;
    margin: 200px auto 0;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#titulo-registro{
    margin-bottom: 15px;
}

.Logo-OfferStore{
    position: absolute;
    top: 20px;
    left: 20px;
}

/* INPUTS & BUTTONS GENERALES */
input, button{
    width: 100%;
    padding: 12px 15px;
    box-sizing: border-box;
    border-radius: 7px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

button{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover{
    opacity: 0.9;
}


/* BOTÓN CREAR CUENTA */
#CrearCuentaContainer{
    margin: 15px 0 15px;
}

#btnCrearCuenta{
    background-color:#F2B705;
    color: white;
}

#btnCrearCuenta:hover{
    background-color: #cf9c03;
}

/* SOCIAL LOGIN */
#social-login-options{
    margin: 15px 0 15px;
}

#Google, #Facebook{
    margin: 15px 0 15px;
}

#btnGoogle, #btnFacebook{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 25px;
    gap: 12px;
}

#btnGoogle{
    background-color: white;
    color: #000;
    border: 1px solid #e2e2e2;
}

#btnGoogle:hover{
    background-color: #f0efef;
}

#btnFacebook{
    background-color: #3b5998;
    color: white;
}

#btnFacebook:hover{
    background-color: #142b61;
}

#btnGoogle img.icon-social,
#btnFacebook img.icon-social{
    width: 32px;
    height: 32px;
    margin: 0;
}

/* FIELDSETS */
fieldset{
    margin-bottom: 10px;
    padding: 0;
    width: 100%;
    border: none;
}

legend{
    text-align: left;
}




/* RESPONSIVE */
@media (min-width: 1024px){
    #Cart{
        max-width: 720px;
        font-size: 1.125rem;
        margin-left: auto;
        margin-right: auto;
    }
}