<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Offer Store</title>

    <link rel="icon" href="../../assets/Icons/FavIconLogo-OfferStore.png" type="image/png">
    <link rel="stylesheet" href="Login.css">
</head>
<body>
    <main id="Cart">

        <div class="header-left">
            <img src="../../assets/Icons/Logo-OfferStore(1).png" alt="Logo-OfferStore" class="Logo-OfferStore"/>
        </div>

        <div id="Login">

            <img src="../../assets/Icons/usuario.png" alt="Usuario">

            <h1 id="sesion">Iniciar Sesión</h1>

            <fieldset>
                <legend>Correo electrónico</legend>

                <div>
                   <input type="email" id="email" name="email" placeholder="email@address.com" required>
                </div>

            </fieldset>

            <fieldset>
                <legend>Contraseña</legend>

                <div>
                    <input type="password" id="password" name="password" minlength="8" placeholder="Mínimo 8 caracteres" required>
                    <small id="ayuda-pass">Usa al menos 8 caracteres.</small>
                </div>

            </fieldset>

            <a id="RecoverPassword" href="../../components/Recuperar_Contraseña/Recuperar_Contraseña.html">
                ¿Olvidaste tu contraseña?
            </a>
            
            <div id="IniciarSesion">
                <button id="btnIniciarSesion">Iniciar sesión</button>
            </div>

            <label class="switch">
                <input type="checkbox">
                <span class="slider"></span>
                Recordar contraseña
            </label>

            <div id="social-login-options">
                <div>
                    <label id="OptionsLogin">Or</label>
                </div>

                <div id="Google">
                    <button id="btnGoogle">
                        <img src="../../assets/Icons/googleIcono.png" alt="Google Icon" class="icon-social">
                        Iniciar sesión con Google
                    </button>
                </div>

                <div id="Facebook">
                    <button id="btnFacebook">
                        <img src="../../assets/Icons/facebook.png" alt="Facebook Icon" class="icon-social">
                        Iniciar sesión con Facebook
                    </button>
                </div>
            </div>

            <p id="RecoverPassword" class="enlace-crear-cuenta">
                ¿No tienes cuenta? <a href="../../components/Registro_Cuenta/RegistroCuenta.html">Crear cuenta</a>
            </p>
        </div>
    </main>
</body>
</html>