html{
    background-color: #F2F2F2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#Encabezado{
    text-align: center;
}

.contenedor-tarjetas{
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 50px;
}

.tarjeta-tipoUsuario{
    width: 300px;
    height: 400px;
    background-color: #fff;
    padding: 40px 25px;
    border-radius: 10px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;

    box-sizing: border-box;
}

.tarjeta-tipoUsuario a {
    text-decoration: none;
    color: inherit;
    display: block;
    text-align: center;
}

.tarjeta-tipoUsuario img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

button{
    cursor: pointer;
}

.tarjeta-titulo{
    width: 100%;
    background-color: #4F96F4;
    border-color: black;
    color: white;
    padding: 12px 0px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.tarjeta-tipoUsuario ul {
    width: 100%;
    margin: 0;
    list-style: disc;
    text-align: left;
    padding-left: 20px;
    font-size: .9rem;
    font-weight: bold;
    line-height: 1.6;
    color: #333;
}

.tarjeta-tipoUsuario:hover{
    transform: translateY(-20px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 1);
}