<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tipo de Usuario</title>

    <link rel="stylesheet" href="TipoUsuario.css"
</head>
<body>
    <main>
        <div id="Encabezado">
            <img src="../../assets/Icons/Logo-OfferStore(1).png" alt="Logo-OfferStore" class="Logo-OfferStore"/>
            <h1>Seleccione su tipo de usuario</h1>
        </div>

        <div class="contenedor-tarjetas">

            <div class="tarjeta-tipoUsuario">
                <a href="../../components/Menu/Menu.html" id="tarjeta-seleccion-cliente">
                    <img src="../../assets/Icons/IconoUsuario.png" alt="Icono de Usuario Cliente">
    
                    <button class="tarjeta-titulo">
                        Cliente
                    </button>
    
                    <ul>
                        <li>Consultar ofertas</li>
                        <li>Reseñar negocios</li>
                        <li>Lista de negocios preferidos</li>
                        <li>Notificaciones de ofertas</li>
                        <li>Catálogo de productos en oferta</li>
                    </ul>
                </a>
            </div>
            
            <div class="tarjeta-tipoUsuario">
                <a href="../../components/Registro_Tienda/Tienda.html" id="tarjeta-seleccion-tienda">
                    <img src="../../assets/Icons/Tienda.png" alt="Icono de Tienda">
        
                    <button class="tarjeta-titulo">
                        Tienda
                    </button>
        
                    <ul>
                        <li>Publicar, editar y eliminar ofertas</li>
                        <li>Métricas de interacción a su negocio</li>
                        <li>Impulso publicitario a su negocio</li>
                        <li>Mayor visibilidad en el mercado</li>
                        <li>Posicionamiento competitivo</li>
                    </ul>
                </a>
            </div>
        </div>
    </main>  
</body>
</html>