<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offer Store - Registrar Negocio</title>
</head>
<body>
    <main id="Cart">
        <div class="header-left">
            <img src="../../assets/Icons/Logo-OfferStore(1).png" alt="Logo-OfferStore" class="Logo-OfferStore"/>
        </div>
        
        <img src="../../assets/Icons/Tienda.png" alt="Negocio">

        <h1 id="registro-negocio">Registrar Negocio</h1>

        <div class="card">
            <div class="card-logo">
                <img src="../../assets/Icons/Logo-OfferStore(1).png" alt="Logo-OfferStore" class="Logo-OfferStore-card"/>
                
                <h1>Offer Store</h1>
                <h1>¡Aumenta tus ventas con un click!</h1>
            </div>

            <div class="card-form">

                <h2>Paso 1</h2>

                <h2>Información del negocio</h2>

                <form>
                    <fieldset>
                        <legend>Nombre del negocio</legend>
                        <div>
                            <input type="text" id="nombre-negocio" name="nombre-negocio" placeholder="Nombre del negocio" required>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Correo electrónico</legend>
                        <div>
                            <input type="text" id="correo-negocio" name="correo-negocio" placeholder="correo@direccion.com" required>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Teléfono de contacto</legend>
                        <div>
                            <input type="tel" id="tel-negocio" name="tel-negocio" placeholder="Número de teléfono" required>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Contraseña</legend>
                        <div>
                            <input type="password" id="contraseña-negocio" name="contraseña-negocio" placeholder="Mínimo 8 carácteres"  minlength="8" required|>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Confirmar contraseña</legend>
                        <div>
                            <input type="password" id="contraseña-final" name="contraseña-negocio" placeholder="Repita su contraseña"  minlength="8" required|>
                        </div>
                    </fieldset>

                    <div id="sig-form">
                        <button id="btnSiguiente">Siguiente</button>
                    </div>

                </form>
            </div>



        </div>
        
    </main>
</body>
</html>