html{
    background-color: #F2F2F2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#Cart{
    margin: 0;
    padding: 20px;
    text-align: center;
}

#EditarPerfil{
    max-width: 700px;
    margin: 200px auto 0;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#EditarPefil h1 {
  text-align: center;
}

#sesion {
    margin-bottom: 15px;
}

.Logo-OfferStore{
    position: absolute;
    top: 20px;
    left: 20px;
}

input, button{
    width: 100%;
    padding: 12px 15px;
    box-sizing: border-box;
    border-radius: 7px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

button{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover{
    opacity: 0.9;
}

#btnActualizarPerfil{
    background-color:#F2B705;
    color: white;
}

#btnActualizarPerfil:hover{
    background-color: #cf9c03;
}

#BtnCambiarFoto{
    background: none;
    color: #4F96F4;
    border: none;
    width: auto;
    padding: 0;
    margin-bottom: 15px;
    text-align: right;
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
}

fieldset{
    margin-bottom: 10px;
    padding: 0%;
    width: 100%;
    border: none;
}

legend{
    text-align: left;
}


@media (min-width: 1024px){
    #Cart{
        max-width: 720px;
        font-size: 1.125rem;

        margin-left: auto;
        margin-right: auto;
    }
}