<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Editar Perfil</title>
  <link rel="stylesheet" href="../EditarPerfil/EditarPerfil.css" />
</head>

<body>

  <div class="Logo-OfferStore">
    <a href="../Menu/Menu.html">
      <img src="/assets/Icons/Logo-OfferStore(1).png" alt="Logo-OfferStore" />
    </a>
  </div>

<main id="EditarPerfil">

    <img src="/assets/Icons/usuario.png" alt="Avatar">

    <h1>Editar Perfil</h1>

    <form>

        <fieldset>
            <legend>Nombre de usuario</legend>
            <input type="text" placeholder="Ingresa tu nombre">
        </fieldset>

        <fieldset>
            <legend>Correo electrónico</legend>
            <input type="email" placeholder="correo@ejemplo.com">
        </fieldset>

        <fieldset>
            <legend>Teléfono</legend>
            <input type="tel" placeholder="000 000 0000">
        </fieldset>

        <fieldset>
            <legend>Nueva contraseña</legend>
            <input type="password" placeholder="Nueva contraseña">
        </fieldset>

        <button id="BtnCambiarFoto" type="button">Cambiar foto</button>

        <button id="btnActualizarPerfil" type="submit">Actualizar perfil</button>

    </form>

</main>
</body>
</html>
