body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  text-align: center;
  margin: 0;
}

.titulo{
  display: flex;                
  align-items: center;          
  justify-content: space-between; 
  text-align: center;
  width: 100%;                 
  margin: 20px 0;
}
.titulo img {
  height: 50px;                
}


.contenedor-ofertas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 20px;
}

.oferta {
  position: relative;
  background: white;
  width: 150px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  padding: 10px;
  text-align: center;
}

.oferta img {
  width: 100px;
  height: 100px;
  justify-content: end;
}

.precio {
  font-weight: bold;
  color: #007bff;
}

.fecha {
  font-size: 0.9em;
  color: gray;
}

.acciones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30;
}

button img {
  width: 23px;
  height: 23px;
  margin-right: 8px;
  vertical-align: middle;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 15px;
  font-size: 15px;
}

.subir {
  background-color: #007bff;
  color: white;
  justify-content: end;
}

.agregar {
  background-color: white;
  border: 2px solid black;
}

.eliminar {
  background-color: white;
  border: 2px solid black;
}

.btnEditar {
  position: absolute;
  top: 8px;
  right: 8px;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.btnEditar:hover {
  transform: scale(1.1);
  background: #eaeaea;
}

.btnEditar img {
  width: 18px;
  height: 18px;
}
