<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OfferStore</title>
    <link rel="stylesheet" href="Ofertas.css">

</head>
<body>
    <main>
        <h1 class="titulo">
            <img src="../../assets/img/menu/logo.png" alt="logo" class="logo">
            Publicacion de Ofertas 
            <img src="../../assets/img/menu/avatar.png" alt="usuario" class="usuario">
        </h1>

        <div class="contenedor-ofertas">
            <!-- Tarjeta de producto -->
            <div class="oferta">
                <button class="btnEditar">
                    <img src="../../assets/Icons/lapiz.png" alt="editar">
                </button>
                <input type="checkbox">
                <img src="../../assets/img/ofertas/limon.jpeg" alt="Limón">
                <h2>Limón</h2>
                <p><del>$30.00 kg</del></p>
                <p class="precio">$25.00 kg</p>
                <p class="fecha">Válido hasta el 6 de junio de 2025</p>
            </div>

            <div class="oferta">
                <button class="btnEditar">
                    <img src="../../assets/Icons/lapiz.png" alt="editar">
                </button>
                <input type="checkbox">
                <img src="../../assets/img/ofertas/platano.jpeg" alt="Platano">
                <h2>Platano</h2>
                <p><del>$40.00 kg</del></p>
                <p class="precio">$15.00 kg</p>
                <p class="fecha">Válido hasta el 6 de junio de 2025</p>
            </div>

            <div class="oferta">
                <button class="btnEditar">
                    <img src="../../assets/Icons/lapiz.png" alt="editar">
                </button>
                <input type="checkbox">
                <img src="../../assets/img/ofertas/dinero.jpeg" alt="Bloqueada">
                <h2>Bloqueado</h2>
                <p><del></del></p>
                <p class="precio">$50.00</p>
                <p class="fecha">Si desea desbloquearlo pague</p>
            </div>

            <div class="oferta">
                <button class="btnEditar">
                    <img src="../../assets/Icons/lapiz.png" alt="editar">
                </button>
                <input type="checkbox">
                <img src="../../assets/img/ofertas/dinero.jpeg" alt="Bloqueada">
                <h2>Bloqueado</h2>
                <p><del></del></p>
                <p class="precio">$50.00</p>
                <p class="fecha">Si desea desbloquearlo pague</p>
            </div>

            <div class="oferta">
                <button class="btnEditar">
                    <img src="../../assets/Icons/lapiz.png" alt="editar">
                </button>
                <input type="checkbox">
                <img src="../../assets/img/ofertas/dinero.jpeg" alt="Bloqueada">
                <h2>Bloqueado</h2>
                <p><del></del></p>
                <p class="precio">$50.00</p>
                <p class="fecha">Si desea desbloquearlo pague</p>
            </div>

            <div class="oferta">
                <button class="btnEditar">
                    <img src="../../assets/Icons/lapiz.png" alt="editar">
                </button>
                <input type="checkbox">
                <img src="../../assets/img/ofertas/dinero.jpeg" alt="Bloqueada">
                <h2>Bloqueado</h2>
                <p><del></del></p>
                <p class="precio">$50.00</p>
                <p class="fecha">Si desea desbloquearlo pague</p>
            </div>
        </div>

    <div class="acciones">
      <button class="eliminar">
        <img src="../../assets/Icons/basura.png"> Eliminar
      </button>
      <button class="subir">Subir Ofertas</button>
      <button class="agregar">
        <img src="../../assets/Icons/agregar.nuevo.png"> Agregar
      </button>
    </div>
 </main>
</body>
</html>